@font-face {
  font-family: "Elms Sans";
  src: url("../fonts/Elms_Sans/ElmsSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Elms Sans";
  src: url("../fonts/Elms_Sans/ElmsSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
/*--------------- themes ---------------*/
:root {
  --text: #33333A;
  --text2: #33333A;
  --background: #f8f8f8;
}
:root[data-theme="1"] {
  color-scheme: dark;
  --background: #008082;
  --text: #ffea2a;
  --text2: #ffea2a;
}
:root[data-theme="2"] {
  color-scheme: dark;
  --background: #11111A;
  --text: #DDDDDD;
  --text2: #DDDDDD;
}
:root[data-theme="3"] {
  color-scheme: dark;
  --background: #af4900;
  --text: #FCFAA6;
  --text2: #FCFAA6;
}
:root[data-theme="4"] { /* root */
  color-scheme: light;
  --background: #f8f8f8;
  --text: #33333A;
  --text2: #33333A;
}
:root[data-theme="5"] {
  color-scheme: light;
  --background: #0044FF;
  --text: #FFFFFF;
  --text2: #FFFFFF;
}
:root[data-theme="6"] {
  color-scheme: dark;
  --background: #4E1D4C;
  --text: #E5AA70;
  --text2: #E5AA70;
}
:root[data-theme="7"] {
  color-scheme: dark;
  --background: #121a11;
  --text: #85ca6a;
  --text2: #85ca6a;
}
:root[data-theme="8"] {
  color-scheme: light;
  --background: #b2d5f5;
  --text: #2B303B;
  --text2: #2B303B;
}
body {
  font-family: "Elms Sans", sans-serif;
  font-size: 16px;
  background-color: var(--background);
  color: color-mix(in srgb, var(--text) 90%, transparent);
  word-spacing: -3px;
}
.mode-bold {
  font-weight: 800;
  color: var(--text2);
}
.mode-link {
  font-weight: 800;
  color: var(--text2);
  border: none;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
}
.mode-link:hover,
a:hover .mode-link {
  color: var(--background);
  background-color: var(--text2);
  outline: none;
}
.bi.mode-link {
  padding: 0 3px;
}
/*------------- end themes -------------*/
html {
  overflow-y: scroll;
  background-color: var(--background);
}
p, span {
  font-weight: 500;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin-bottom: 0;
}
li {
  display: inline-block;
}
ul li { /* spacing for nav icons */
  margin-left: 2px;
}
.nav-item { /* spacing for nav items that are words */
  margin-right: 10px;
}
li i {
  font-size: 22px;
}
li span {
  font-size: 16px;
}
.navbar-adds .navbar-nav {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.bi {
  padding: 2px 4px 0 4px;
}
.navbar-adds { /* spacing and color design of navbar background */
  padding: 20px 0 10px 0;
  background-color: inherit;
  border-bottom: 1.25px solid color-mix(in srgb, var(--text2) 30%, transparent);
}
.nav2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.nav2 li {
  margin-left: 4px;
}
.btn-connect {
  border-radius: 10px;
  border: none;
  padding: 6px 18px;
  font-size: 12px;
}
@media screen and (max-width: 767.98px) {
  .navbar-adds .row {
    align-items: center;
  }
  .navbar-adds .bi {
    padding: 0 3px;
  }
}
@media screen and (min-width: 768px) {
  body > .container,
  .navbar-adds .container {
    max-width: 1320px;
  }
  .navbar-adds .col-5 {
    flex: 0 0 330px;
    width: 330px;
    max-width: 330px;
  }
  body > .container .row > .col-10:not(:only-child) {
    flex: 0 0 330px;
    width: 330px;
    max-width: 330px;
  }
  body > .container .row > .col-10:only-child {
    flex: 0 0 660px;
    width: 660px;
    max-width: 660px;
  }
  body > .container .row > .col-9:only-child {
    flex: 0 0 550px;
    width: 550px;
    max-width: 550px;
  }
}
.lower-icons {
  font-size: 20px;
  margin: 0;
}
.sub-text {
  font-size: 12px;
  font-style: italic;
  font-weight: 700;
  color: var(--text2);
}
.img-title {
  font-size: 18px;
}
#footer {
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 0;
}
#pfp {
  width: 150px;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  border-color: var(--text2);
  /*filter: grayscale(100%);*/
}
#pjp-sqr {
  max-width: 220px;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  border-color: var(--text2);
  /*filter: grayscale(100%);*/
}
#pjp-wide {
  max-width: 350px;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
  border-color: var(--text2);
  /*filter: grayscale(100%);*/
}
@media screen and (max-width: 768px) {
  #pjp-wide {
    max-width: 90%;
  }
  #pjp-sqr {
    max-width: 50%;
  }
}
